alabaster
anyio==3.6.1
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
arrow 
astroid 
atomicwrites==1.4.0
attrs 
audioread==3.0.0
autopep8 
Babel 
backcall
beautifulsoup4 
binaryornot 
black 
bleach 
brotlipy==0.7.0
certifi 
cffi 
chardet 
charset-normalizer 
click 
cloudpickle 
colorama 
cookiecutter 
cryptography 
cycler==0.11.0
debugpy 
decorator 
defusedxml 
diff-match-patch 
dill 
docutils==0.17.1
dtw-python==1.2.2
entrypoints 
fastjsonschema 
flake8 
fonttools==4.37.1
gitdb==4.0.9
GitPython==3.1.27
greenlet==1.1.3
idna 
imagesize 
importlib-metadata 
inflection==0.5.1
intervaltree 
ipykernel 
ipython 
ipython-genutils 
ipywidgets==7.7.2
isort 
jedi 
jeepney 
jellyfish 
Jinja2 
jinja2-time 
joblib==1.1.0
jsonschema==3.2.0
jupyter-book==0.13.1
jupyter-cache==0.4.3
jupyter-core 
jupyter-server==1.18.1
jupyter-server-mathjax==0.2.6
jupyter-sphinx==0.3.2
jupyter_client 
jupyterlab-pygments 
jupyterlab-widgets==1.1.1
keyring 
kiwisolver==1.4.4
latexcodec==2.0.1
lazy-object-proxy 
librosa==0.8.0
linkify-it-py==1.0.3
llvmlite==0.39.0
markdown-it-py==1.1.0
MarkupSafe 
matplotlib==3.5.3
matplotlib-inline 
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune 
mypy-extensions==0.4.3
myst-nb==0.13.2
myst-parser==0.15.2
nbclient 
nbconvert 
nbdime==3.1.1
nbformat 
nest-asyncio 
notebook==6.4.12
numba==0.56.0
numpy==1.22.4
numpydoc 
opencv-python==4.6.0.66
packaging 
pandas==1.4.4
pandocfilters 
parso 
pathspec 
pexpect 
pickleshare 
Pillow==9.2.0
platformdirs 
pluggy 
ply==3.11
pooch==1.6.0
poyo 
prometheus-client==0.14.1
prompt-toolkit 
psutil 
ptyprocess 
pybtex==0.24.0
pybtex-docutils==1.0.2
pycodestyle 
pycparser 
pydata-sphinx-theme==0.8.1
pydocstyle 
pyflakes 
Pygments 
pylint 
pyls-spyder==0.4.0
pyOpenSSL 
pyparsing 
PyQt5-sip==12.11.0
pyrsistent 
PySocks 
PySoundFile==0.9.0.post1
python-dateutil 
python-lsp-black 
python-lsp-jsonrpc==1.0.0
python-lsp-server 
python-slugify 
pytz 
pyxdg 
PyYAML==6.0
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
requests 
resampy==0.4.0
rope 
Rtree 
scikit-learn==1.1.2
scipy==1.7.3
SecretStorage 
Send2Trash==1.8.0
sip 
six 
smmap==5.0.0
sniffio==1.2.0
snowballstemmer 
sortedcontainers 
SoundFile==0.10.3.post1
soupsieve 
Sphinx==4.5.0
sphinx-book-theme==0.3.3
sphinx-comments==0.0.3
sphinx-copybutton==0.5.0
sphinx-external-toc==0.2.4
sphinx-jupyterbook-latex==0.4.6
sphinx-multitoc-numbering==0.1.3
sphinx-thebe==0.1.2
sphinx-togglebutton==0.3.2
sphinx_design==0.1.0
sphinxcontrib-applehelp
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy==1.4.40
terminado==0.15.0
testpath 
text-unidecode 
textdistance 
threadpoolctl==3.1.0
three-merge 
tinycss 
toml 
tomli 
tomlkit 
tornado 
traitlets 
typing_extensions 
uc-micro-py==1.0.1
ujson 
Unidecode 
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
websocket-client==1.4.0
widgetsnbextension==3.6.1
wrapt 
wurlitzer 
yapf 
youtube-dl==2021.12.17
zipp 
